html{height: 100%;}
body{ font-family: serif, Arial ;  font-size:small; margin:0; height: 100%;  padding: 0; }
em{font-size: 120%}
#HeadTemplate{ background-color:#303030; padding:0px; margin: 0px; width: 100%;  color:white; }

#HeadTemplate img{border-radius: 4px; }
#HeadTemplate span{font-size:120%}
div.HeadTemplate { margin: 10px;  vertical-align: middle; display: inline-block; }
#right{text-align: center;  float: right; display: inline-block; vertical-align: bottom; }
#UserForm{ margin: 10px; padding: 5px; }
#UserName em{color: #dea000;}
 .error{color:red;}
 div.center_form{position: relative ; top: 10%; }
 form.center_form{ background-color:#f0f0f0; border-radius:8px; max-width: 400px;
margin-bottom:auto; margin-top:10px; margin-left:auto; margin-right: auto; text-align: center; vertical-align: middle; padding: 10px;}
 
.TabletHolder{display: inline-block; width: 80%; position: absolute; left: 0px; visibility: hidden; border-collapse: collapse;}
.CategoryTablet {text-align: center; border-radius: 6px; vertical-align: middle;  width:200px; margin: 5px;  padding: 3px;  border-color: #303030; border-style: solid; border-width: 1px; display: inline-block; }

.CategoryTablet span{color: #303030; font-weight: normal; font-style: italic; font-size: 150%; text-shadow: 2px;}
.CategoryTablet img{border-radius: 4px; width: auto; border-color:#303030; border-style: groove; border-width: 2px; }
.SelectedTablet span{color: #dea000; font-weight: bold; text-shadow: 5px;}
.SelectedTablet img{border-color:#dea000;  border-width: 5px;}