html{height: 100%; word-wrap: break-word;
}
body{ font-family: serif, Arial ;  font-size:small; margin:0; height: 100%;   padding: 0; }
em{font-size: 120%;}
button {cursor: pointer;}
#HeadTemplate{ background-color:#303030; padding:0px; margin: 0px; width: 100%;  color:white; }

#HeadTemplate div { margin: 0px 5px 0px 5px;  vertical-align: middle; display: inline-block; }
#HeadTemplate div span{font-size:120% ;  text-align: center;}
#HeadTemplate div img {border-radius: 5px; }
.centerDiv {margin: 10px auto 10px auto; width: 90%; text-align: center;}

img.UnActiveNavIco { display: inline-block; }
img.ActiveNavIco { display: none; }
#UserForm{ background-color:#303030;  float: right; display: inline-block; padding: 5px; vertical-align: middle; }
#UserName em{color: #dea000;}
 .error{color:red;}

 form.center_form, .center_form{ background-color:#f0f0f0; border-radius:8px; max-width: 400px;
margin-bottom:auto; margin-top:10px; margin-left:auto; margin-right: auto; text-align: center;  vertical-align: middle; padding: 10px;}
 
.TabletMenu{ border-radius: 10px; position: absolute; left: -5000px;   border: #303030 solid 2px;     background-color: #f0f0f0;  }
.Tablet {text-align: center; border-radius: 6px; vertical-align: middle;  width:100px; margin: 2px;  padding: 3px;  border: #303030 solid 1px; display: inline-block;  }
.Tablet span{color: #303030; font-weight: normal; font-style: italic; font-size: 150%; text-shadow: 2px;}
.Tablet img{border-radius: 4px; width: auto; border:#303030 groove 2px; }
.SelectedTablet span{color: #dea000; font-weight: bold; text-shadow: 5px;}
.SelectedTablet img{border: #dea000 groove 5px;}
div.SelectedTablet {border: #dea000 solid 2px;}



form#newProduct{max-width: none; margin: 20px auto 20px auto; padding: 10px;   width: 90%;  }
#newProduct > input {padding: 5px;}
form#newProduct > div {margin: 5px; position: static; display: inline-block;}
.ui-menu{background-color: white; border: solid 1px #303030;}
.ui-state-focus.ui-menu-item {background-color: #dea000; color: white;}
.ui-autocomplete-loading {
    background: white url("resources/common_image/icons/loading.gif") right center no-repeat;
}

.prodholder {max-width: 90%; overflow: auto; }
#prodtable{;  border-collapse: collapse;}
.prodheader {font-weight: bold;}
.proddata { vertical-align: middle; border: solid 1px #303030;  margin: 2px; padding:5px; }
.prodImg {border: solid 2px #303030; max-width: 200px;}
img.prodStatIcon { float: left;}

#newList {text-align: left;}
#newListHead {width: 100%; text-align: center; display: inline-block;}
#newListHead div {float: left;}
#newListHead h2{clear: both;}
#newListHead span {font-weight: bold;}
#newList ol{left: 0px; }
#newListButtons {width:100%; text-align: center;}
#list li {font-size: 16px;  cursor: move;}
#list div {font-size: 16px; text-align: left; }

#prodSelect div {display: inline-block; text-align: left; }