html{height: 100%;}
body{ font-family: serif, Arial ; text-align: center;  font-size:14px; margin:0; height: 100%;   padding: 0; word-wrap: break-word;}
em{font-weight: bold; font-style:normal;}
button, .pointer, select {cursor: pointer;}
h1,h2,h3,h4{margin-bottom: 0px; text-indent: 0; }
textArea {font-size: 16px; }
#HeadTemplate{ background-color:#303030; z-index:3; padding:0px; text-align: left; margin: 0px; width: 100%;  color:white; }

#HeadTemplate > div { margin: 0px 5px 0px 5px;  vertical-align: middle; display: inline-block; }
#HeadTemplate div span{font-size:120% ;  text-align: center;}
#HeadTemplate div img {border-radius: 5px; }

img.UnActiveNavIco { display: inline-block; }
img.ActiveNavIco { display: none; }

#UserForm{ background-color:#303030;  float: right; text-align:right; display: inline-block; padding: 5px;  }
#UserForm em, #UserForm a{color: #dea000; font-size: 16px;}
 
.error{color:red; font-size: 12px; text-align: left;}
.formitem { padding:10px; display: inline-block;}
.formitem span{float: left;}
.formitem *{ clear: left; }


.panel {background-color:#f0f0f0; border-radius:10px;   vertical-align: middle; padding: 10px; margin:10px auto 10px auto; clear: both; max-width: 90%; overflow: auto;}


 .center_form{  max-width: 400px; margin-top: 40px;}
 
 #about {width: 90%; margin: 0 auto 0 auto;}
 #about img{ border-radius: 10px; float:left; margin: 5px 10px 5px 0px;}
 img#springimg{max-width: 80%; margin: 10px 0px 0px 0px; float: none;}
 #about ul  {margin: 10px 20px; text-indent: 0px; line-height: 1.5;}
 #about > div{display: inline-block; overflow: auto; text-align: left; padding: 20px; text-indent: 40px; font-size: 14px; clear: right;}
 #aboutme {width: 40% ; float: left; }
 #aboutproj {width: 50%; float: left; position: relative; left: 20px;}
 #aboutproj div a {font-size: 22px;}
 

 
.TabletMenu{ border-radius: 10px; position: absolute; left: -5000px;   border: #303030 solid 2px;   text-align: left; background-color:#f0f0f0;  }
.Tablet {text-align: center; font-size:10px;  border-radius: 6px; vertical-align: middle;  width:100px; margin: 2px;  padding: 3px;  border: #303030 solid 1px; display: inline-block;  }
.Tablet span{color: #303030; font-weight: normal; font-size: 150%; text-shadow: 2px;}
.Tablet img{border-radius: 4px; width: auto; border:#303030 groove 2px; }
.SelectedTablet span{color: #dea000; font-weight: bold; }
.SelectedTablet img{border: #dea000 groove 5px;}
div.SelectedTablet {border: #dea000 solid 2px;}


#newProduct > input {padding: 5px;}
form#newProduct > div {margin: 5px; position: static; display: inline-block;}
.ui-menu{background-color: white; border: solid 1px #303030;}
.ui-state-focus.ui-menu-item {background-color: #dea000; color: white;}
.ui-autocomplete-loading {
    background: white url("resources/common_image/icons/loading.gif") right center no-repeat;
}


#prodtable{  border-collapse: collapse;}
.prodheader {font-weight: bold;}
.proddata { vertical-align: middle; border: solid 1px #303030;  margin: 2px; padding:5px; }
.prodImg {border: solid 2px #303030; max-width: 200px;}
img.prodStatIcon { float: left;}

#newList ol{left: 0px; }

#list  li {font-size: 16px;  cursor: move; text-align: left;}
#list div {font-size: 16px; text-align: left; }

#prodSelect div {display: inline-block; text-align: left; }