html{height: 100%;}
body{ font-family:serif;  font-size:small; margin:0; height: 100%; padding: 0; }
table{text-align:center; padding: 4px  }
em{font-size: 120%}
#HeadT{ background-color:#303030; padding:4px; color:white }
#HeadT td{padding: 0px 5px 0px 5px}
#HeadT img{border-radius: 4px}
#HeadT span{font-size:120%}
#RC{float:right;}
#LoginF{position:relative; top:20px;}
#doc{ 
      height:100%;
 }
 .error{color:red;}
 .center_form{ background-color:#f0f0f0;  width:400px;  margin-bottom:auto; margin-top: 5%; margin-left:auto; margin-right: auto; text-align: center; vertical-align: middle; padding: 10px;}
//#AuthForm{ background-color:#f0f0f0;  width:400px;  margin-bottom:auto; margin-top: 5%; margin-left:auto; margin-right: auto; text-align: center; vertical-align: middle; padding: 10px; }
