body{ font-family:serif; font-size:small; padding:0px; margin:0em; }
table{text-align:center; padding: 4px  }
em{font-size: 120%}
#HeadT{ background-color:#303030; padding:4px; color:white }
#HeadT td{padding: 0px 5px 0px 5px}
#HeadT img{border-radius: 4px}
#HeadT span{font-size:120%}
#LoginF{float:right; width:250px}
