<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/loginPage.jsp</form-login-page>
            <form-error-page>/loginError.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>All</web-resource-name>
            <url-pattern>/loginPage.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>member</role-name>
            <role-name>admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>AdminOnly</web-resource-name>
            <url-pattern>/showUser</url-pattern>
            <url-pattern>/Admin.jsp</url-pattern>
            <http-method>GETi</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <filter>
        <filter-name>SessionInitFilter</filter-name>
        <filter-class>com.pankratov.prodlist.web.filters.SessionInitFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginCookieCreator</filter-name>
        <filter-class>com.pankratov.prodlist.web.filters.LoginCookieCreator</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginCookieCreator</filter-name>
        <url-pattern>/loginPage.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionInitFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>IndexServ</servlet-name>
        <servlet-class>com.pankratov.prodlist.web.IndexServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>com.pankratov.prodlist.web.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showUser</servlet-name>
        <servlet-class>com.pankratov.prodlist.web.ShowUserServlet</servlet-class>
        <init-param>
            <param-name>source</param-name>
            <param-value>jdbc:mysql://localhost:3306/tomcatusers</param-value>
        </init-param>
        <init-param>
            <param-name>table</param-name>
            <param-value>logins</param-value>
        </init-param>
        <init-param>
            <param-name>col</param-name>
            <param-value>login</param-value>
        </init-param>
        <init-param>
            <param-name>adminLogin</param-name>
            <param-value>tom</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>lazyfatcat</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>com.pankratov.prodlist.web.LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showUser</servlet-name>
        <url-pattern>/showUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServ</servlet-name>
        <url-pattern>/index11.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
